<!DOCTYPE html>
<html ng-app="nukomeet.bumel">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Nukomeet Bumel app</title>
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="style/custom_style.css" />
    </head>
    <body layout="column">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Nukomeet Bumel</span>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <panel layout="column">
            <form layout="row">
                <md-input-container>
                    <label>Task title</label>
                    <input type="text" ng-model="taskName" />
                </md-input-container>
                <md-button class="md-fab md-primary" ng-click="startTimer()" ng-disabled="!taskName || running">
                    <md-icon md-font-icon="fa fa-plus" class="button apply-task"></md-icon>
                </md-button>
            </form>
            <div layout="row">
                <timer interval="1000" name="my.timer"></timer>
            </div>
        </panel>

    </md-content>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="src/app.js"></script>
    <script src="src/services/local_storage.js"></script>
    <script src="src/filters/real_time_filter.js"></script>
    <script src="src/directives/panel.js"></script>
    <script src="src/directives/timer.js"></script>
    </body>
</html>
